/* reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/* ------- */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.latest_news {
    /* text-align: center; */
    /* margin-top: 190px; */
    /* align-items: center; */
    align-items:;
    display: flex;
    justify-content: space-evenly;
}

.link-aplicativo {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-top: 190px;
}

.titulo {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #0A093D;
    margin-top: 10px;
    margin-bottom: 74px;
}

article img {
    border-radius: 40px;
    width: 347px;
    height: 363px;
}

.barra_lateral_noticias {
    background-color: #FFAF2E;
    width: 39px;
    height: 2px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #2F2C4A;
}
/* 
.artigo_noticias1 {
    margin-left: 174px;
    width: 347px;
} */

/* article {
    margin-left: 174px;
    width: 347px;
    display: flex;
} */